<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-light" href="/">АКОД</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% for item in menu %}
                {% if item.url == url %}
                    <li class="nav-item active">
                        <a class="nav-link" href="/{{item.url}}">{{item.name}}</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/{{item.url}}">{{item.name}}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>


    <div data-context="panel_edit" style="display: none;">
        <div data-click="panel_edit_mode">
            <span class="mr-15">Режим редактирования </span>
            <i class="fa fa-square-o"></i>
            <i class="fa fa-check-square-o"></i>
        </div>
    </div>
    {% if user.name is not empty %}
        <a href="/cabinet" class="navbar__user">
            <div class="navbar__user__letter">{{user.name|first}}</div>
            <div class="navbar__user__name">{{user.surname}} {{user.name}}</div>
        </a>
    {% endif %} 
</nav>